.iconWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  width: 50px;
  height: 50px;
  &:hover {
    background-color: rgb(41, 41, 41);
    cursor: pointer;
  } 
}

.tooltip {
  display: flex;
  position: absolute;
  left: calc(100% + 4px);
  border-radius: 10px;
  padding: 10px 14px;
  border: 5px;
  background-color: rgb(44, 44, 44);
  color: white;
  z-index: 99;
}

.selected {
  background-color: rgb(41, 41, 41);
}