

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  // height: 100%;
  padding: 10px 1rem;

  h2 {
    margin: 10px 0;
  }
  .section {
    position: relative;
    display: flex;
    flex-direction: column;
    p {
      margin: 1rem 0 10px 0;
    }
  }
  .endSection {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    // margin-left: auto;
  }
}

.deleteButton {
  background-color: rgba(255, 0, 0, 0.616);
}

.publishButton {
  background-color: rgb(7, 7, 17);
  &:hover {
    background-color: rgb(59, 59, 59);
  }
  margin-left: 10px;
}
.cancelButton {
  background-color: rgba(61, 61, 61, 0);
  &:hover {
    color: rgb(53, 53, 53);
  }
}

.buttonsRight {
  display: flex;
  flex-direction: row;
}


.time {
  display: flex;
  flex-direction: row !important;
}
.startTime .endTime {
  display: flex;
  flex-direction: column;
}

.startTime {
  margin-right: 1rem;
}
