
@media screen and (max-width: 600px) { 
  .navbar_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    li:focus {
      border: 2px blue dotted !important;
    }
    li:not(:first-child):hover {
      border-bottom: none !important;
      // text-decoration-color: rgb(255, 255, 255);
    }
    li {
      float: left;
      display: block;
      padding: 10px 10px;
    }
    .item {
      display: none;
    }
    .language_dropdown_positioning {
      display: none;
    }
    .navigation_bar_right {
      width: 50px;
    }
    .hamburger_icon {
      display: block;
      cursor: pointer;
    } 
  }
  .right_mobile_nav {
    display: block;
  }
  .navigation_item {
    width: 100%;
    padding: 20px 10px;
    // border-top: 1px solid white;
    border-top: 1px solid rgb(68, 68, 68); 
    border-bottom: 1px solid rgb(68, 68, 68); 
  }
  .navigation_item:last-child {
    position: absolute;
    bottom: 40px;
  }

  .sidebar_right {
    display: flex;
    flex-direction: column;
    position: fixed;
    // height: 100%;
    background-color: rgb(29, 29, 29);
    left: 0;
    top: 50px;
    bottom: 0;
    width: 250px;
    transition: all .3s ease;
    z-index: 0;
    .navigation_item:hover {
      background-color: rgb(37, 92, 232);
      cursor: pointer;
    }
  }
  .sidebar_opened {
    // width: 250px;
    // right: -250px;
    left: -250px;
  }
  .sidebar_closed {
    // width: 0px;
    // right: 0;
    left: 0;
  }
}