

.main_top {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  // background-color: aquamarine;
  width: 100%;
  height: 100vh; 
  overflow-x: hidden;
  .main_top_left {
    width: 40%;
    min-width: 50%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: brown;
    padding: 80px;
    .main_top_left_inner_wrapper {
      // background-color: black;
      margin-top: 0px;
      padding: 0px;
      border-radius: 10px;
      // border: 2px solid black;
    }
    h2 {
      font-size: 25px;
      font-weight: bold;
      font-family: Nunito, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 20px 0;
      padding: 0;
      margin: 10px;
    }
    p {
      font-size: 25px;
      font-weight: normal;
      padding: 5px;
      margin: 0;
      // font-weight: bold;
    }
    .p_phone_number {
      font-weight: normal;
      font-size: 25px;
    }
    .open_status {
      // background-color: green;
      // padding: 10px;
      width: fit-content; 
      border-radius: 10px;
      margin: 10px 0 10px 0;
      p {
        font-weight: normal;
        font-size: 25px;
      }
      
    }
    .close_status {
      // background-color: rgb(225, 19, 16);
      // padding: 10px;
      width: fit-content; 
      border-radius: 10px;
      margin: 10px 0 10px 0;
      p {
        font-weight: normal;
        font-size: 25px;
      }
      
    }
  }
  .main_top_right {
    flex-grow: 1;
  }
}

.div_open_status_wrapper {
  display: flex;
  flex-direction: row;
}

.pulsing_circle_wrapper {
  position: relative;
  width: 50px;
}

.business_hours {
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: start;
  flex-direction: column;
  max-width: 400px;
  border-radius: 10px;
  
  .business_hours_section {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    // max-width: 200px;
    max-height: 400px;
    // background-color: rgb(7, 7, 7);
    color: white;
    margin: 5px;
    border-radius: 10px;
    padding: 0;
    .business_hours_day {
      display: flex;
      align-items: center;
      // width: 150px;
      width: 100%;
      flex-grow: 1;
      text-align: center;
      font-weight: bold;
      padding: 15px;
      background-color: #255CE8;
      border-radius: 10px 0 0 10px;
      // border: 2px solid #255CE8;
      // font-family: Tahoma, Helvetica, "Microsoft YaHei New", "Microsoft Yahei";
    }
    .business_hours_line_separator {
      // border: 1px solid white;
      margin: 5px; 
      // padding: 5px;
      margin: 0;
    }
    .business_hours_hours {
      display: flex;
      align-items: center;
      text-align: center;
      padding: 10px;
      // width: 200px;
      width: 100%;
      flex-grow: 1;
      color: black;
      background-color: #313131;
      color: white;
      // border-top: 3px solid #255CE8;
      // border-right: 3px solid #255CE8;
      // border-bottom: 3px solid #255CE8;
      border-radius: 0px 10px 10px 0;
    }
  }
}

.main_services_wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 70px 0;
}

.main_services {
  box-sizing: border-box;
  margin: 20px 2rem;
  padding: 10px;
  // width: 100%;
  min-height: 50vh;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  color: white;
  background-color: rgb(37, 92, 232);
  .main_services_left {
    width: 50%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    // background-color: orange;
    padding: 80px;
    h1 {
      padding: 0 20px;
      font-size: 80px;
    }
  }
  .main_services_right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    // background-color: red;
    padding: 80px;
    .main_services_right_items {
      display: flex;
      flex-direction: row;
      padding: 10px 0;
      .main_services_right_items_left_icon {
        width: 100px;
        display: flex;
        justify-content: center;
        padding: 10px;
      }
      .main_services_right_items_right_content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        h2 {
          font-size: 50px;
          margin: 5px;
        }
        p {
          font-size: 30px;
          margin: 5px;
        }
      }
    }
  }
}



@media screen and (max-width: 800px) {
  .main_top {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 0px;
    .main_top_left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 10px;
      .main_top_left_inner_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      h1 {
        font-size: 48px;
        margin: 0;
        padding: 0;
      }
      p {
        font-size: 20px;
        padding: 0;
        margin: 0;
      }
    }
    .main_top_right {
      // flex-grow: 1;
    }
  }

  .business_hours {
    // width: 100;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    // padding: 20px 0;
    .business_hours_days {
      display: flex;
      flex-direction: column;
      padding-right: 20px;
      width: 100%;
      div {
        padding: 5px 0;
      }
    }
    .business_hours_times {
      display: flex;
      flex-direction: column;
      div {
        padding: 5px 0;
      }
    }
  }
  .main_services_wrapper {
    padding: 0 10px;
  }
  .main_services {
    margin: 2rem 0px;
    // border-radius: 0;
    padding: 2rem 0px; 
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 92, 232);
    .main_services_left {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 30px 0; 
      h1 {
        margin: 0 20px;
        padding: 0; 
        font-size: 40px;
      }
    }
    .main_services_right {
      display: flex;
      flex-direction: column;
      padding: 0px;
      .main_services_right_items {
        display: flex;
        flex-direction: row;
        padding: 10px 0;
        .main_services_right_items_left_icon {
          width: 50px;
          display: flex;
          justify-content: center;
          padding: 10px;
          margin: 0 10px;
        }
        .main_services_right_items_right_content {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          h2 {
            font-size: 30px;
            margin: 5px;
          }
          p {
            font-size: 20px;
            margin: 5px;
          }
        }
      }
    }
  }
}