.calender {
  position: absolute;
  display: flex;
  top: calc(100%);
  right: 0px;
  // height: 300px;
  width: 250px;
  background-color: black;
  border-radius: 1rem;
  margin: 2px 0;
  border: 1px solid white;
  z-index: 10;
}

.dropdown {
  display: flex;
  flex-direction: column;
}
.selection {
  display: flex;
  flex-direction: row;
}

.shade {
  position: fixed; 
  z-index: 5;
}