.div_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  // padding: 0 100px 100px 100px;
  display: grid;
  grid-template-columns: 7fr 2fr;
  max-width: 1000px;
  // align-items: center;
}

.inner_container {
  // max-width: 800px;
  .post_title {
    font-size: 50px;
  }
}

.content_sidebar {
  display: flex;
  position: sticky;
  width: 300px;
  height: 100%;
  padding: 20px 10px;
  flex-direction: column;
}

.div_inner_content_sidebar {
  // display: flex;
  position: sticky;
  height: 100vh;
  width: 100%;
  background-color: rgb(231, 231, 231);
  top: 0;
  padding: 10px 20px;
  margin: 10px;
  // bottom: 0;
  // left: 0;
  // right: 0;
  h2 {
    padding: 0;
    margin: 0;
  }
  .div_inner_content_sidebar_navigation_items {
    padding: 10px 0px;
  }
  .div_inner_content_sidebar_navigation_items:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.article {
  width: 100%;
}

.main_image_wrapper {
  width: 100%;
  // height: 100%;
  margin: 20px 0; 
}

.main_image {
  border-radius: 10px;
}

@media (max-width: 600px) {
  .container {
    padding: 0 24px !important; 
  }
}