.container {
  width: 100%;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner_container {
  max-width: 800px;
}

@media (max-width: 600px) {
  .container {
    padding: 0 24px !important; 
  }
}