.wrapper {
  position: relative;
  width: 30px;
}

.moreIcon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  &:hover {
    background-color: black;
    cursor: pointer;
  }
}