.dropdownOptions {
  position: absolute;
  border-radius: 10px;
  background-color: black;
  z-index: 9;
  top: 100%;
  left: 50%;
  // height: 100px;
  // width: 100px;
}

.option {
  border-radius: 20px;
  padding: 5px 10px;
  font-size: smaller;
  &:hover {
    cursor: pointer;
    background-color: black;  
  }
}