@font-face {
  font-family: Nunito;
  src: url(fonts/NunitoSans-Regular.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen;
  height: 100vh;
  max-width: 100vw;
  min-width: 300px;
  box-sizing: border-box;
}

input {
  padding: 10px 1rem;
  border-radius: 8px;
  border: none;
  border: solid 1px rgba(232, 230, 227, 0.88);
  background-color: var(--aphotic-gray);
  box-shadow: none;
  &:focus, &:hover {
    border-color: var(--aphotic-blue);
    outline: solid 1px rgba(65, 65, 65, 0.404);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --aphotic-flat-blue: #1677ff;
  --aphotic-blue: rgb(0, 72, 159);
  --aphotic-gray: rgb(24, 24, 24);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  }
}
